# Ignore personal app configs and caches
systemd/
otto/
obsidian-headless/
matrun/
inkscape/
autostart/
secrets.zsh
Code/
LibreCAD/
kicad/
github-copilot/
libreoffice/
sftpman/
spotify/
Electron/
Vencord/
discord/
dconf
user-dirs.dirs
user-dirs.locale
spicetify/
obsidian/
go/
zsh/.zcompdump
pulse/
tmux/plugins/
nvim/lazy-lock.json
gtk-4.0/assets
*.bak
QtProject/
nvim-bak/
.luarc.json
balenaEtcher
obs-studio
PrusaSlicer
Cypress
BraveSoftware
.copilot
Raspberry Pi
okularpartrc okularrc
kile-livepreview-okularpartrc kilerc
kwalletrc
octave
okularpartrc
okularrc
mozilla
kyma
kilerc
kile-livepreview-okularpartrc
act
kdeglobals
QtProject.conf
configstore
gh
